.header{
    background-color: white;
    border-bottom: 1px solid grey ;
    padding: 0px 0px 0px 19px;
    position: relative;
    top: -60px;
    cursor: pointer;
    /*z-index: -1;*/
    transition: 100ms all;
}

.header:hover {
    filter: brightness(90%);
}

.backToChatsButton {
    position: relative;
    top: -30px;
    text-decoration:none;
    font-weight: 500;
    font-size: 70px;
    color: #a0a0a0;
    margin-left: 20px;
    cursor: pointer;
    z-index: 1;
    
}
.backToChatsButton:hover {
    text-decoration:none;
    color: #666666;
}

.chatIcon {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    position: relative;
    top: 28px;
    left: -11px;
    object-fit: cover;
}

.groupName{
    padding-top: 10px;
    font-weight: 600;
    position: absolute;
    top: 30px;
    left: 102px;
}
.numberUsers{
    position: relative;
    top: -6px;
    left: 90px;
}
.textField{
    position: absolute;
    bottom:0;
    padding: 30px;
    border-top: 1px solid grey ;
    width: 100%;
}
.message{
    margin-right: 15px;
    height: 40px;
    width: 260px;
    border-radius: 17px;
    text-align: left;
    font-weight: 400;
    opacity: 0.9; 
}
.sendBtn{
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    border: none;
    background-color: #3e7ee5;
}
.arrow{
    color: white;   
}

.sendMessages{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}
.receivedMessage{
    width: fit-content;
    background-color: #E4E6EB;
    border-radius: 20px 20px 20px 2px;
    padding: 6px 10px;
    margin-top: -50px;
    margin-left: 3px;
    align-self: start;
}
.sendMessage{
    width: fit-content; 
    background-color: #3e7ee5 ;
    border-radius: 20px 20px 2px 20px;
    padding: 6px 10px;
    margin-top: 2px ;
    margin-left: 3px;
    color: white;
}